CMD_NAME=microservices-currency
GO_VERSION=1.25.0
HOST_PORT=50052

# ---

APP_NAME=microservices-currency
APP_PROD=true
APP_PORT=50052

APP_KEEPALIVE_TIME=5s
APP_KEEPALIVE_TIMEOUT=5s

APP_SHUTDOWN_TIMEOUT=5s

POSTGRES_DSN=postgres://app:1234@currency-postgres:5432/currency?sslmode=disable

EXCHANGE_TOKEN=
EXCHANGE_ADDRESS=https://v6.exchangerate-api.com/v6/
EXCHANGE_TIMEOUT=10s

UPDATER_UPDATE_INTERVAL=1h
UPDATER_FETCH_TIMEOUT=15s
UPDATER_STORE_TIMEOUT=25s

# ---

POSTGRES_USER=app
POSTGRES_PASSWORD=1234
